<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Books</title>
  </head>
  <body>
    <% books.forEach((book) => { %>
    <p><%= book.title %></p>
    <form action="/updateBook/<%= genreId %>/<%= book.id %>" method="GET">
      <button type="submit">UPDATE</button>
    </form>
    <form action="/deleteBook/<%= genreId %>/<%= book.id %>" method="POST">
      <button type="submit">DELETE</button>
    </form>
    <% }) %>
  </body>
</html>
