<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Genres</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <%- include("nav") %>
    <div class="container genreContainer">
      <% genres.forEach((genre) => { %>
      <div class="box boxGenre">
        <form action="booksGenre" method="GET">
          <button class="genre" name="genreId" value="<%= genre.id %>">
            <%= genre.genre %>
          </button>
        </form>
        <div class="buttons">
          <form action="/updateGenre" method="GET">
            <button name="genreId" value="<%= genre.id %>" type="submit">
              UPDATE
            </button>
          </form>
          <form action="/deleteGenre" method="GET">
            <button name="genreId" value="<%= genre.id %>" type="submit">
              DELETE
            </button>
          </form>
        </div>
      </div>
      <% }) %>
    </div>
  </body>
</html>
