<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Genres</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <%- include("nav") %>
    <div class="container genreContainer">
      <% genres.forEach((genre) => { %>
      <div class="box boxGenre">
        <a href="genres/<%= genre.id %>"><%= genre.genre %></a>
        <div class="buttons">
          <form action="/updateGenre/<%= genre.id %>" method="GET">
            <button type="submit">UPDATE</button>
          </form>
          <form action="/deleteGenre/<%= genre.id %>" method="GET">
            <button type="submit">DELETE</button>
          </form>
        </div>
      </div>
      <% }) %>
    </div>
  </body>
</html>
